.vertical--center {
    position: relative;
    top: 50%;
    display: block;
    transform: translateY(-50%);
}

.block {
    display: block;
}

.margin--center {
    margin: 0 auto;
    display: block;
}

.screenreadersonly {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hidden--mob {
    @include media($max-sm) {
        display: none !important;
    }
}

.hidden--dsk {
    @include media($screen-sm) {
        display: none !important;
    }
}