.icon-icon-plane { background-image: url('app/icons/icon-plane.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-nav { background-image: url('app/icons/nav.png'); background-repeat: no-repeat; }

.icon-opening { background-image: url('app/icons/opening.png'); background-repeat: no-repeat; }

.icon-plane { background-image: url('app/icons/plane.png'); background-repeat: no-repeat; }

