.section--hero-content {
    background-image: url("../backgroundimgae.jpg");
    height: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media($screen-sm) {
        height: 60vh;
    }


    @include media($screen-md) {
        height: 75vh;
    }


    .icon-logo {
        max-width: 90%;
        width: 200px;

        @include media($screen-xs) {
            width: 250px;
        }


        @include media($screen-sm) {
            width: 320px;
        }


        @include media($screen-md) {}
    }
}

.befirst {
    @include media($screen-sm) {
        float: left;
    }


    @include media($max-sm) {
        width: 100%;
        margin-bottom: 34px;
        display: block;
    }
}

#mc_embed_signup {
    position: relative;
}

#mc_embed_signup_scroll {
    position: relative;
}

form#mc-embedded-subscribe-form {
    width: 230px;
    float: right;
}

.submitbutton {
    position: absolute;
    top: 0px;
    right: 20px;

    .icon-plane {
        background-size: 20px;
        background-position: 90%;
        background-color: transparent;
    }
}

.texturebg {
    background-image: url("../bg-text.jpg");
    background-repeat: repeat;
    background-size: 401px;
    padding: 3em 0;
}

.icon-opening {
    margin: 0 auto;
    display: block;
    max-width: 90%;
    width: 300px;

    @include media($screen-sm) {
        width: 400px;
    }


    @include media($screen-md) {
        width: 600px;
    }
}

.icon-wrap {
    padding: 5em 0 2em 0;
}